body {
    background-color: #e6f3f8;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 200px;
    background-color: #002147;
    box-shadow: 0px 4px 8px #0000004d;
}

h1, h3, h4{
  text-align: center; 
  color: white; 
  font-family: Georgia, Cambria, serif;
  text-shadow: 1px 1px 1px black;
}

h2{
    color: black;
    font-family: Georgia, Cambria, serif;
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

.wrap {
    max-width: 95%;
    margin: 30px auto;
    padding: 20px 10px;
    background-color: transparent;
    display: block;
    
}

figure { 
    float: right;
    width: 450px;
    margin-left: 40;
    margin-bottom: 20px;
}

.wrap img {
    width: 100%;      
    height: auto;     
    display: block;
    border-radius: 4px;
}


figcaption{
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    line-height: 1.2;
    color: #333;

}

.text{
  display: block;
 
}

p{
    color: black;
    font-family: Tahoma;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5rem;
}


