
h1, h3, h4{
  text-align: center; 
  color: white; 
  font-family: Georgia, Cambria, serif;
  text-shadow: 1px 1px 1px black;
}

h2{
    color: black;
    font-family: Georgia, Cambria, serif;
    text-align: left;
    text-shadow: 1px 1px 1px black;
    margin-top: 0;
    padding: 0;
}

p {
    color: black;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    text-indent: 18px;
    text-align: justify;
    line-height: 2;
    
}

header { 
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 200px;
    background-color: #002147;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

body {
    background-color: #e6f3f8;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    
    
}

.center{
  text-align: center;
  margin-top: 15px;
  
}

.center img{
  max-width: 100%;
  height: auto;
  box-shadow: 0px 4px 8px #399cbd;
}

.center figcaption{
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
    line-height: 1.2;
    color: #333;

}


