h1,
h2, 
h3 {
    color: black;
    font-family: Georgia;
    text-align: left;
    text-shadow: 1px 1px 3px black;
}

p {
    color: black;
    font-family: Tahoma;
    font-size: 16px;
    text-align: justify;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 162px;
    background-color: #002147;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

body {
    background-color: #e6f3f8;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    color: white;


}
a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    

}
.center img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 4px 8px #399cbd;
    border-radius: 8px;
    
}

.back a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #090088;
}

.back a:hover{
    color: #8994c5;
}
   
