h1,
h2 {
    color: black;
    font-family: Georgia;
    text-align: left;
    font-size: 18px;
}

p {
    color: black;
    font-family: Tahoma;
    font-size: 12px;
    text-align: justify;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100px;
    background-color: #002147;
}

body {
    background-color: #e6f3f8;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    color: white;


}
a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
}